html {
  font-size: 15px;
  font-family: "Jua", sans-serif;
  background-color: rgb(75, 99, 134);
  color: white;
}

p,
li,
label {
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 1px;
}

span {
  border: 2px solid rebeccapurple;
  width: 300px;
}

/* heading */

h1 {
  /* font */
  font-size: 60px;
  text-align: center;
  /* box */
  margin: 0;
  padding: 20px 20px;
  color: white;
  width: 600px;
  margin: 30px auto;
  background-color: rgb(90, 116, 156);
  padding: 10px 10px 10px 10px;
  border: 8px solid rgb(49, 71, 104);
}

ul {
  display: flex;
  list-style: none;
  border: 1px solid black;
}

li {
  margin: 5px;
}

.links-list a {
  background-color: rgb(90, 116, 156);
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  border: 5px solid rgb(49, 71, 104);
}

.links-list a:hover {
  background-color: rgb(61, 83, 117);
  color: white;
}